html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(13, 28, 77);
  line-height: 1;
}

html body {
  width: 100%;
  height: 100%;
  --s: 500px; /* control the size */
  --c1: #1c2e4a;
  --c2: #192841;
  --c3: #152238;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

header {
  display: block;
  color: rgba(255, 255, 255, 0.525);
  padding: 4em;
  text-align: left;
  padding-right: 4em;
  line-height: 1;
  font-size: 20px;
}

ul {
  list-style: none;
}

.navlist {
  margin-top: 3em;
}

.navlist a {
  color: white;
  margin-left: 3em;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
  line-height: 2;
  text-decoration: none;
}

.navlist a:hover {
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

h2 {
  color: rgba(255, 255, 255, 0.525);
}

h3,
h4,
h5,
h6,
h8 {
  color: white;
  padding-left: 25px;
}

p {
  line-height: 1.6;
  color: white;
  padding-left: 25px;
}

.portfolio-item {
  margin-bottom: 2em;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
}

.portfolio-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

footer {
  text-align: center;
  padding: 1em;
  color: white;
  bottom: 0;
  width: 100%;
  height: .5rem;
}

.experience-item {
  margin-bottom: 2em;
}

.contact-me {
  text-align: center;
  margin-top: 2em;
}

.contact-me p {
  margin-bottom: 1em;
}

div {
  padding-left: 25px;
}

.fa {
  padding: 1.5rem;
  font-size: xx-large;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

label {
  color: white;
}

.container {
  width: 350px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50px;
  border: 1px solid #396afc;
  background: linear-gradient(to right, #002970, #2e2f7e);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container form .descr {
  font-size: 20px;
  font-weight: 500;
  color: #e8e8e8;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input, textarea {
  margin: 1em 0 1em 0;
  width: 300px;
  position: relative;
}

.input input, textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}

.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: #e8e8e8;
  padding: 0.7em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.input :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}

.form button {
  color: #e8e8e8;
  font-size: 15px;
  align-self: flex-start;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.form button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form button:hover:before {
  opacity: 0.2;
}

.form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

img {
  width: 150px;
}

.aboutme {
  padding-left: 5em;
  padding-right: 5em;
}

.experience-item {
  padding-right: 5em;
  padding-left: 5em;
}

.portfolio-item {
  padding-right: 5em;
  padding-left: 5em;
}
